.post {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    /* border: 1px solid #ddd; */
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
    .thumbnail1 {
        position: relative;
        width: 100%;
    }
    .views-container {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: #ffffff;
        p {
            display: flex;
            align-items: center;
            margin: 0 0 5px 0;
        }
        .view {
            background: url("../../../assets/images/views.png");
            width: 24px;
            height: 24px;
            display: inline-block;
            margin-right: 10px;
        }
        .likes {
            background: url("../../../assets/images/likes.png");
            width: 24px;
            height: 24px;
            display: inline-block;
            margin-right: 10px;
        }
    }
}