<div class="highlights-container">
    <h3 class="highlight-header">You may also search for:</h3>
    <div class="search-post-wrapper">
        <div class="hash-tags" *ngFor="let tag of youMaysearchtags">
            <p class="tag-name">{{tag}}</p>
            <p class="posts">16k posts</p>
        </div>
    </div>
    <div class="feed-container">
        <div class="left-feed-container">
            <h2>200K</h2>
            <p class="feed">Number of people talking about #fashion, #shoes</p>
        </div>
        <div class="right-feed-container">
            <h2>20K</h2>
            <p class="feed">Number of confluence influencers talking about #fashion, #shoes</p>
        </div>
    </div>
</div>